**Dealing with Missing Values**

One of the first steps in building a good predictive model is to carefully handle missing values at the start. 
There's quite a lot of missing data in this dataset.

After investigating the data in some detail there also appears to be some fields which represent similar if not the same information which I think we can probably be remove as they are redundant. 

There are also potentially some inconsistent fields and potentially incorrect data.

The approaches use to deal with missing values also have to be made to the test data consistently.

Ideally after each step taken to deal with missing values you would probably want to carry out some cross-validation to see if it has helped improve your model.

**Feature Engineer**:

transaction_mon = month(transactiondate)

lati_cd = input(substr(put(latitude, 8.), 1, 4), 3.0)

**Replace Missing with most Frequent Number**:

if buildingqualitytypeid = . then buildingqualitytypeid = 8;

if heatingorsystemtypeid = . then heating orsystemtypeid = 2;

**Replace Missing with Avg between 25 to 75 tax value Quantile**:

if lotsizesquarefeet = . then lotsizesquarefeet = 32065;

if unitcnt = . then unitcnt = 1;

In [2]:
from boto.s3.connection import S3Connection
import os
import json
import boto.s3
import sys
import datetime
import seaborn as sns
from boto.s3.key import Key
from pprint import pprint
import pandas as pd
import urllib
import csv
import io
import requests
import time
import json
import datetime
from pprint import pprint
import scipy
import numpy as np
import matplotlib.pyplot as plt
color = sns.color_palette()

%matplotlib inline

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import neighbors
import seaborn as sns
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder


pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999

In [3]:
rawdata= pd.read_csv("C:/Users/myang/Desktop/Zillow-Data-Analysis-master/Data/train_2016_v2.csv") 
rawdata.shape

(90275, 3)

In [4]:
prop_df = pd.read_csv("C:/Users/myang/Desktop/Zillow-Data-Analysis-master/Data/properties_2016.csv")
prop_df.shape

C:\Users\myang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2985217, 58)

In [5]:
for c, dtype in zip(prop_df.columns, prop_df.dtypes):
    if dtype == np.float64:
        prop_df[c] = prop_df[c].astype(np.float32)

df_train = rawdata.merge(prop_df, how='left', on='parcelid')
#del prop_df, rawdataspecificrows
df_train.head(2)
#df_train.shape

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,NaN,2.0,34280992.0,-118488536.0,7528.0,NaN,NaN,NaN,NaN,NaN,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,NaN,NaN,33668120.0,-117677552.0,3643.0,NaN,NaN,NaN,NaN,NaN,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

#### Pools & Hot tubs

There are actually multiple features related to pools:

- **"poolcnt"** - Number of pools on a lot. "NaN" means "0 pools", so we can update that to reflect "0" instead of "NaN".


- **"hashottuborspa"** - Does the home have a hottub or a spa? "NaN" means "0 hottubs or spas", so we can update that to reflect "0" instead of "NaN".


- **"poolsizesum"** - Total square footage of pools on property. Similarly, "NaN" means "0 sqare feet of pools", so we can also adjust that to read "0". For homes that do have pools, but are missing this information, we will just fill the "NaN" with the median value of other homes with pools.


- **"pooltypeid2"** & **"pooltypeid7"** & **"pooltypeid10"** - Type of pool or hottub present on property. These categories will only contain non-null information if "poolcnt" or "hashottuborspa" contain non-null information. For the pool-related categories, we can fill the "NaN" value with a "0". And because "pooltypeid10" tells us the exact same information as "hashottuborspa", we can probably drop that category from our model.

In [5]:
# "0 pools"
df_train.poolcnt.fillna(0,inplace = True)
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,NaN,2.0,34280992.0,-118488536.0,7528.0,0.0,NaN,NaN,NaN,NaN,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,NaN,NaN,33668120.0,-117677552.0,3643.0,0.0,NaN,NaN,NaN,NaN,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

In [6]:
# "0 hot tubs or spas"
df_train.hashottuborspa.fillna(0, inplace = True)
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,0,2.0,34280992.0,-118488536.0,7528.0,0.0,NaN,NaN,NaN,NaN,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,NaN,NaN,NaN,NaN,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

In [7]:
# Convert "True" to 1
df_train.hashottuborspa.replace(to_replace = True, value = 1,inplace = True)
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,0,2.0,34280992.0,-118488536.0,7528.0,0.0,NaN,NaN,NaN,NaN,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,NaN,NaN,NaN,NaN,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

In [8]:
print(df_train['hashottuborspa'].value_counts())

0    87910
1     2365
Name: hashottuborspa, dtype: int64

In [9]:
# Set properties that have a pool but no info on poolsize equal to the median poolsize value.
df_train.loc[df_train.poolcnt==1, 'poolsizesum'] = df_train.loc[df_train.poolcnt==1, 'poolsizesum'].fillna(df_train[df_train.poolcnt==1].poolsizesum.median())

# "0 pools" = "0 sq ft of pools"
df_train.loc[df_train.poolcnt==0, 'poolsizesum']=0

# "0 pools with a spa/hot tub"
df_train.pooltypeid2.fillna(0,inplace = True)

# "0 pools without a hot tub"
df_train.pooltypeid7.fillna(0,inplace = True)

# Drop redundant feature
df_train.drop('pooltypeid10', axis=1, inplace=True)

df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,2.0,NaN,NaN,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

#### Fireplace Data

There are two features related to fireplaces:

- **"fireplaceflag"** - Does the home have a fireplace? The answers are either "True" or "NaN". We will change the "True" values to "1" and the "NaN" values to "0".

- **"fireplacecnt"** - How many fireplaces in the home? We can replace "NaN" values with "0".

Looking deeper, it seems odd that over 10% of the homes have 1 or more fireplaces according to the "fireplacecnt" feature, but less than 1% of homes actually have "fireplaceflag" set to "True". There are obviously some errors with this data collection. To fix this, we will do the following:

- If "fireplaceflag" is "True" and "fireplacecnt" is "NaN", we will set "fireplacecnt" equal to the median value of "1".

- If "fireplacecnt" is 1 or larger "fireplaceflag" is "NaN", we will set "fireplaceflag" to "True".

We will change "True" in "fireplaceflag" to "1", so we can more easily analyze the information.

In [10]:
print(df_train['fireplaceflag'].value_counts())

True    222
Name: fireplaceflag, dtype: int64

In [11]:
# If "fireplaceflag" is "True" and "fireplacecnt" is "NaN", we will set "fireplacecnt" equal to the median value of "1".
df_train.loc[(df_train['fireplaceflag'] == True) & (df_train['fireplacecnt'].isnull()), ['fireplacecnt']] = 1

In [12]:
# If 'fireplacecnt' is "NaN", replace with "0"
df_train.fireplacecnt.fillna(0,inplace = True)

In [13]:
# If "fireplacecnt" is 1 or larger "fireplaceflag" is "NaN", we will set "fireplaceflag" to "True".
df_train.loc[(df_train['fireplacecnt'] >= 1.0) & (df_train['fireplaceflag'].isnull()), ['fireplaceflag']] = True
df_train.fireplaceflag.fillna(0,inplace = True)

In [14]:
print(df_train['fireplaceflag'].value_counts())

0       80446
True     9829
Name: fireplaceflag, dtype: int64

In [15]:
# Convert "True" to 1
df_train.fireplaceflag.replace(to_replace = True, value = 1,inplace = True)

In [16]:
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,0.0,2.0,NaN,NaN,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,0,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,0.0,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,0,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

#### Garage Data

There are two features related to garages:

- **"garagecarcnt"** - How many garages does the house have? Easy fix here - we can replace "NaN" with "0" if a house doesn't have a garage.


- **"garagetotalsqft"** - What is the square footage of the garage? Again, if a home doesn't have a garage, we can replace "NaN" with "0".

Unlike the Fireplace category where we have several Type II errors (false negative), we do not have any scenarios where a home has a "garagecarcnt" of "NaN", but a "garagetotalsqft" of some value.

In [17]:
df_train.garagecarcnt.fillna(0,inplace = True)
df_train.garagetotalsqft.fillna(0,inplace = True)

In [18]:
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,0.0,2.0,0.0,0.0,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,0,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,0.0,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,0,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN

#### Tax Data Delinquency

There are two features related to tax delinquency:

- **"taxdelinquencyflag"** - Property taxes for this parcel are past due as of 2015.


- **"taxdelinquencyyear"** - Year for which the unpaid property taxes were due.

In [19]:
print(df_train['taxdelinquencyflag'].value_counts())

Y    1783
Name: taxdelinquencyflag, dtype: int64

In [20]:
# Replace "NaN" with "0"
df_train.taxdelinquencyflag.fillna(0,inplace = True)

# Change "Y" to "1"
df_train.taxdelinquencyflag.replace(to_replace = 'Y', value = 1,inplace = True)

In [21]:
# Drop "taxdelinquencyyear" because it probably isn't a necessary variable
df_train.drop('taxdelinquencyyear', axis=1, inplace=True)

In [22]:
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,0.0,2.0,0.0,0.0,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,0,122754.0,360170.0,2015.0,237416.0,6735.879883,0,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,0.0,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,2014.0,NaN,0,346458.0,585529.0,2015.0,239071.0,10153.019531,0,NaN

#### The Rest

- **"storytypeid"** - Numerical ID that describes all types of homes. Mostly missing, so we should drop this category. Crazy idea would be to try and integrate street view of each home, and use image recognition to classify each type of story ID.

In [23]:
# Drop "storytypeid"
df_train.drop('storytypeid', axis=1, inplace=True)

- **"basementsqft"** - Square footage of basement. Mostly missing, suggesting no basement, so we will replace "NaN" with "0".

In [24]:
# Replace "NaN" with 0, signifying no basement.
df_train.basementsqft.fillna(0,inplace = True)

- **"yardbuildingsqft26"** - Storage shed square footage. We can set "NaN" values to "0". Might be useful to change this to a categorical category of just "1"s and "0"s (has a shed vs doesn't have a storage shed), but some of the sheds are enormous and others are tiny, so we will keep the actual square footage.

In [25]:
# Replace 'yardbuildingsqft26' "NaN"s with "0".
df_train.yardbuildingsqft26.fillna(0,inplace = True)

- **"architecturalstyletypeid"** - What is the architectural style of the house? Examples: ranch, bungalow, Cape Cod, etc. Because this is only present in a small fraction of the homes, I'm going to drop this category. (Idea: One can also assume that most homes in the same neighborhood have the same style. Could also try image recognition.)

In [26]:
# Drop "architecturalstyletypeid"
df_train.drop('architecturalstyletypeid', axis=1, inplace=True)

- **"typeconstructiontypeid"** - What material is the house made out of? Missing in a bunch, so probably drop category. Would be very difficult image recognition problem.

- **"finishedsquarefeet13"** - Perimeter of living area. This seems more like describing the shape of the house and is closely related to the square footage. I recommend dropping the category.

In [27]:
# Drop "typeconstructiontypeid" and "finishedsquarefeet13"
df_train.drop('typeconstructiontypeid', axis=1, inplace=True)
df_train.drop('finishedsquarefeet13', axis=1, inplace=True)

- **"buildingclasstypeid"** - Describes the internal structure of the home. Not a lot of information gained and present in less than 1% of properties. I will drop.

In [28]:
# Drop "buildingclasstypeid"
df_train.drop('buildingclasstypeid', axis=1, inplace=True)

In [29]:
print(df_train.shape)
df_train.notnull().mean().sort_values(ascending = False)

(90275, 53)

poolcnt                         1.000000
garagetotalsqft                 1.000000
pooltypeid7                     1.000000
pooltypeid2                     1.000000
poolsizesum                     1.000000
taxdelinquencyflag              1.000000
longitude                       1.000000
latitude                        1.000000
hashottuborspa                  1.000000
garagecarcnt                    1.000000
rawcensustractandblock          1.000000
fireplacecnt                    1.000000
fips                            1.000000
bedroomcnt                      1.000000
bathroomcnt                     1.000000
basementsqft                    1.000000
transactiondate                 1.000000
logerror                        1.000000
propertylandusetypeid           1.000000
parcelid                        1.000000
fireplaceflag                   1.000000
yardbuildingsqft26              1.000000
regionidcounty                  1.000000
roomcnt                         1.000000
assessmentyear                  1.000000
propertycountylandusecode       0.999989
landtaxvaluedollarcnt           0.999989
taxvaluedollarcnt               0.999989
taxamount                       0.999934
regionidzip                     0.999612
structuretaxvaluedollarcnt      0.995791
censustractandblock             0.993298
calculatedfinishedsquarefeet    0.992678
yearbuilt                       0.991626
fullbathcnt                     0.986907
calculatedbathnbr               0.986907
regionidcity                    0.980028
finishedsquarefeet12            0.948169
lotsizesquarefeet               0.887566
unitcnt                         0.646392
propertyzoningdesc              0.645948
buildingqualitytypeid           0.635436
heatingorsystemtypeid           0.621213
regionidneighborhood            0.398914
airconditioningtypeid           0.318815
numberofstories                 0.227859
threequarterbathnbr             0.133027
finishedfloor1squarefeet        0.075946
finishedsquarefeet50            0.075946
finishedsquarefeet15            0.039479
yardbuildingsqft17              0.029310
decktypeid                      0.007289
finishedsquarefeet6             0.004664
dtype: float64

- **"decktypeid"** - Type of deck (if any) on property. Looks like a value is either "66.0" or "NaN". I will keep this feature and change the "66.0" to "1" for "Yes" and "NaN" to "0" for "No".

In [30]:
# Let's check the unique values for "decktypeid"
print(df_train['decktypeid'].value_counts())

66.0    658
Name: decktypeid, dtype: int64

In [31]:
# Change "decktypeid" "Nan"s to "0"
df_train.decktypeid.fillna(0,inplace = True)
# Convert "decktypeid" "66.0" to "1"
df_train.decktypeid.replace(to_replace = 66.0, value = 1,inplace = True)

In [32]:
print(df_train['decktypeid'].value_counts())
df_train.head(2)

0.0    89617
1.0      658
Name: decktypeid, dtype: int64

,parcelid,logerror,transactiondate,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,0.0,2.0,3.0,4.0,2.0,0.0,NaN,1684.0,1684.0,NaN,NaN,NaN,6037.0,0.0,2.0,0.0,0.0,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,1.0,NaN,0.0,1959.0,NaN,0,122754.0,360170.0,2015.0,237416.0,6735.879883,0,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,0.0,3.5,4.0,NaN,3.5,0.0,NaN,2263.0,2263.0,NaN,NaN,NaN,6059.0,0.0,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,1.0,NaN,NaN,0.0,2014.0,NaN,0,346458.0,585529.0,2015.0,239071.0,10153.019531,0,NaN

- **"finishedsquarefeet6"** - Base unfinished and finished area. Not sure what this means. Seems like it gives valuable information, but replacing "NaN"s with "0"s would be incorrect. Perhaps it is a subset of other categories. Probably drop, but TBD.

- **"finishedsquarefeet15"** - Total area. Should be equal to sum of all other finishedsquarefeet categories.

- **"finishedfloor1squarefeet"** - Sq footage of first floor. Could cross check this with number of stories.

- **"finishedsquarefeet50"** - Identical to above category? Drop one of them. Duplicate.

- **"finishedsquarefeet12"** - Finished living area.

- **"calculatedfinishedsquarefeet"** - Total finished living area of home.

In [33]:
squarefeet = df_train[df_train['finishedsquarefeet15'].notnull() & 
                      df_train['finishedsquarefeet50'].notnull() & 
                      df_train['lotsizesquarefeet'].notnull()]
squarefeet[['calculatedfinishedsquarefeet','finishedsquarefeet6','finishedsquarefeet12','finishedsquarefeet15','finishedsquarefeet50','numberofstories','lotsizesquarefeet','landtaxvaluedollarcnt','structuretaxvaluedollarcnt','taxvaluedollarcnt','taxamount']]

,calculatedfinishedsquarefeet,finishedsquarefeet6,finishedsquarefeet12,finishedsquarefeet15,finishedsquarefeet50,numberofstories,lotsizesquarefeet,landtaxvaluedollarcnt,structuretaxvaluedollarcnt,taxvaluedollarcnt,taxamount
1249,1416.0,NaN,NaN,1416.0,1416.0,1.0,7020.0,45265.0,105044.0,150309.0,2391.500000
12429,3796.0,NaN,NaN,3796.0,2092.0,2.0,12705.0,138646.0,241500.0,380146.0,4015.040039
64706,2154.0,NaN,NaN,2154.0,2154.0,1.0,7171.0,49695.0,166191.0,215886.0,2500.159912
74334,716.0,NaN,NaN,716.0,716.0,1.0,5329.0,31714.0,121226.0,152940.0,1716.060059
88248,2813.0,NaN,NaN,2813.0,1102.0,2.0,6905.0,86070.0,95593.0,181663.0,4689.959961

**"finishedsquarefeet6"** is rarely present, and even when it is present, it is equal to **"calculatedfinishedsquarefeet"**. Because of this, we will drop it. Same scenario with **"finishedsquarefeet12"**, so we will drop that as well. **"finishedsquarefeet50"** is identical to **"finishedfloor1squarefeet"**, so we will also drop **"finishedfloor1squarefeet"**.

In [34]:
# Drop "finishedsquarefeet6"
df_train.drop('finishedsquarefeet6', axis=1, inplace=True)

# Drop "finishedsquarefeet12"
df_train.drop('finishedsquarefeet12', axis=1, inplace=True)

# Drop "finishedfloor1squarefeet"
df_train.drop('finishedfloor1squarefeet', axis=1, inplace=True)

df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,calculatedfinishedsquarefeet,finishedsquarefeet15,finishedsquarefeet50,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,0.0,2.0,3.0,4.0,2.0,0.0,1684.0,NaN,NaN,6037.0,0.0,2.0,0.0,0.0,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,1.0,NaN,0.0,1959.0,NaN,0,122754.0,360170.0,2015.0,237416.0,6735.879883,0,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,0.0,3.5,4.0,NaN,3.5,0.0,2263.0,NaN,NaN,6059.0,0.0,3.0,2.0,468.0,0,NaN,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,1.0,NaN,NaN,0.0,2014.0,NaN,0,346458.0,585529.0,2015.0,239071.0,10153.019531,0,NaN

In [35]:
squarefeet2 = df_train[df_train['finishedsquarefeet15'].notnull() & 
                            df_train['finishedsquarefeet50'].notnull() & 
                            df_train['lotsizesquarefeet'].notnull()]

squarefeet2[['calculatedfinishedsquarefeet','finishedsquarefeet15','finishedsquarefeet50','numberofstories','lotsizesquarefeet']]

,calculatedfinishedsquarefeet,finishedsquarefeet15,finishedsquarefeet50,numberofstories,lotsizesquarefeet
1249,1416.0,1416.0,1416.0,1.0,7020.0
12429,3796.0,3796.0,2092.0,2.0,12705.0
64706,2154.0,2154.0,2154.0,1.0,7171.0
74334,716.0,716.0,716.0,1.0,5329.0
88248,2813.0,2813.0,1102.0,2.0,6905.0

In [36]:
df_train.notnull().mean().sort_values(ascending = False)

poolsizesum                     1.000000
garagecarcnt                    1.000000
pooltypeid2                     1.000000
taxdelinquencyflag              1.000000
poolcnt                         1.000000
longitude                       1.000000
latitude                        1.000000
hashottuborspa                  1.000000
garagetotalsqft                 1.000000
fireplacecnt                    1.000000
propertylandusetypeid           1.000000
fips                            1.000000
decktypeid                      1.000000
bedroomcnt                      1.000000
bathroomcnt                     1.000000
basementsqft                    1.000000
transactiondate                 1.000000
logerror                        1.000000
pooltypeid7                     1.000000
parcelid                        1.000000
rawcensustractandblock          1.000000
regionidcounty                  1.000000
assessmentyear                  1.000000
roomcnt                         1.000000
fireplaceflag                   1.000000
yardbuildingsqft26              1.000000
propertycountylandusecode       0.999989
landtaxvaluedollarcnt           0.999989
taxvaluedollarcnt               0.999989
taxamount                       0.999934
regionidzip                     0.999612
structuretaxvaluedollarcnt      0.995791
censustractandblock             0.993298
calculatedfinishedsquarefeet    0.992678
yearbuilt                       0.991626
fullbathcnt                     0.986907
calculatedbathnbr               0.986907
regionidcity                    0.980028
lotsizesquarefeet               0.887566
unitcnt                         0.646392
propertyzoningdesc              0.645948
buildingqualitytypeid           0.635436
heatingorsystemtypeid           0.621213
regionidneighborhood            0.398914
airconditioningtypeid           0.318815
numberofstories                 0.227859
threequarterbathnbr             0.133027
finishedsquarefeet50            0.075946
finishedsquarefeet15            0.039479
yardbuildingsqft17              0.029310
dtype: float64

- **"calculatedfinishedsquarefeet"** - Present in 98%. Total finished living area of home. Let's fill the rest with the median values.

- **"finishedsquarefeet15"** - Present in 6.4%. Most cases, it is equal to **"calculatedfinishedsquarefeet"**, so we will fill in the "NaN" values with the value of "calculatedfinishedsquarefeet". Total area. Should be equal to sum of all other finishedsquarefeet categories.

- **"finishedsquarefeet50"** - If **"numberofstories"** is equal to "1", then we can replace the "NaN"s with the **"calculatedfinishedsquarefeet"** value. Fill in the rest with the average values.

In [37]:
# Replace "NaN" "calculatedfinishedsquarefeet" values with mean.
df_train['calculatedfinishedsquarefeet'].fillna((df_train['calculatedfinishedsquarefeet'].mean()), inplace=True)

In [38]:
# Replace "NaN" "finishedsquarefeet15" values with calculatedfinishedsquarefeet.
df_train.loc[df_train['finishedsquarefeet15'].isnull(),'finishedsquarefeet15'] = df_train['calculatedfinishedsquarefeet']

In [40]:
df_train.numberofstories.fillna(1,inplace = True)

In [41]:
print(df_train['numberofstories'].value_counts())

1.0    81721
2.0     8044
3.0      508
4.0        2
Name: numberofstories, dtype: int64

In [42]:
# If "numberofstories" is equal to "1", then we can replace the "NaN"s with the "calculatedfinishedsquarefeet" value. Fill in the rest with the average values.
df_train.loc[df_train['numberofstories'] == 1.0,'finishedsquarefeet50'] = df_train['calculatedfinishedsquarefeet']
df_train['finishedsquarefeet50'].fillna((df_train['finishedsquarefeet50'].mean()), inplace=True)

In [43]:
print(df_train.shape)
df_train.notnull().mean().sort_values(ascending = False)

(90275, 50)

poolsizesum                     1.000000
fips                            1.000000
taxdelinquencyflag              1.000000
poolcnt                         1.000000
longitude                       1.000000
latitude                        1.000000
hashottuborspa                  1.000000
garagetotalsqft                 1.000000
garagecarcnt                    1.000000
fireplacecnt                    1.000000
finishedsquarefeet50            1.000000
pooltypeid7                     1.000000
finishedsquarefeet15            1.000000
calculatedfinishedsquarefeet    1.000000
decktypeid                      1.000000
bedroomcnt                      1.000000
bathroomcnt                     1.000000
basementsqft                    1.000000
transactiondate                 1.000000
logerror                        1.000000
pooltypeid2                     1.000000
parcelid                        1.000000
propertylandusetypeid           1.000000
rawcensustractandblock          1.000000
assessmentyear                  1.000000
regionidcounty                  1.000000
roomcnt                         1.000000
fireplaceflag                   1.000000
numberofstories                 1.000000
yardbuildingsqft26              1.000000
propertycountylandusecode       0.999989
landtaxvaluedollarcnt           0.999989
taxvaluedollarcnt               0.999989
taxamount                       0.999934
regionidzip                     0.999612
structuretaxvaluedollarcnt      0.995791
censustractandblock             0.993298
yearbuilt                       0.991626
fullbathcnt                     0.986907
calculatedbathnbr               0.986907
regionidcity                    0.980028
lotsizesquarefeet               0.887566
unitcnt                         0.646392
propertyzoningdesc              0.645948
buildingqualitytypeid           0.635436
heatingorsystemtypeid           0.621213
regionidneighborhood            0.398914
airconditioningtypeid           0.318815
threequarterbathnbr             0.133027
yardbuildingsqft17              0.029310
dtype: float64

- **"yardbuildingsqft17"** - Patio in yard. Do same as storage shed category.

In [44]:
# Replace 'yardbuildingsqft17' "NaN"s with "0".
df_train.yardbuildingsqft17.fillna(0,inplace = True)

Now let's dig into the bathroom features.

- **"threequarterbathnbr"** - Number of 3/4 baths = shower, sink, toilet.

- **"fullbathcnt"** - Number of full bathrooms - tub, sink, toilet

- **"calculatedbathnbr"** - Total number of bathrooms including partials.

It seems like **"calculatedbathnbr"** should encompass the other two, so I will probably drop **"threequarterbathnbr"** and **"fullbathcnt"**, but let's take a look at some data first...

In [45]:
bathrooms = df_train[df_train['fullbathcnt'].notnull() & 
                     df_train['threequarterbathnbr'].notnull() & 
                     df_train['calculatedbathnbr'].notnull()]
bathrooms[['fullbathcnt','threequarterbathnbr','calculatedbathnbr']]

       fullbathcnt  threequarterbathnbr  calculatedbathnbr
1              3.0                  1.0                3.5
4              2.0                  1.0                2.5
7              2.0                  1.0                2.5
16             2.0                  1.0                2.5
24             2.0                  1.0                2.5
27             2.0                  1.0                2.5
42             2.0                  1.0                2.5
53             2.0                  1.0                2.5
54             5.0                  1.0                5.5
57             2.0                  1.0                2.5
66             2.0                  1.0                2.5
67             2.0                  1.0                2.5
74             1.0                  1.0                1.5
79             2.0                  1.0                2.5
83             2.0                  1.0                2.5
93             2.0                  1.0                2.5
95             2.0                  1.0                2.5
109            2.0                  1.0                2.5
113            2.0                  1.0                2.5
129            1.0                  1.0                1.5
136            2.0                  1.0                2.5
147            2.0                  1.0                2.5
150            2.0                  1.0                2.5
156            4.0                  1.0                4.5
161            1.0                  1.0                1.5
165            2.0                  1.0                2.5
175            3.0                  1.0                3.5
182            2.0                  1.0                2.5
187            1.0                  1.0                1.5
191            2.0                  1.0                2.5
...            ...                  ...                ...
89988          2.0                  1.0                2.5
89990          2.0                  1.0                2.5
90005          1.0                  1.0                1.5
90013          2.0                  1.0                2.5
90028          2.0                  1.0                2.5
90044          1.0                  1.0                1.5
90047          2.0                  1.0                2.5
90050          1.0                  1.0                1.5
90058          2.0                  1.0                2.5
90059          1.0                  1.0                1.5
90065          2.0                  1.0                2.5
90076          1.0                  1.0                1.5
90095          3.0                  1.0                3.5
90125          1.0                  1.0                1.5
90138          2.0                  1.0                2.5
90147          2.0                  1.0                2.5
90151          2.0                  1.0                2.5
90157          2.0                  1.0                2.5
90188          2.0                  1.0                2.5
90196          1.0                  1.0                1.5
90200          2.0                  1.0                2.5
90202          2.0                  1.0                2.5
90209          2.0                  1.0                2.5
90215          2.0                  1.0                2.5
90216          2.0                  1.0                2.5
90223          2.0                  1.0                2.5
90230          2.0                  1.0                2.5
90242          2.0                  1.0                2.5
90248          2.0                  1.0                2.5
90256          2.0                  1.0                2.5

[12009 rows x 3 columns]

It looks like **"threequarterbathnbr"** is only a half-bath. Because **"calculatedbathnbr"** incorporates the other two, we will drop them. Then we will fill in the missing values for **"calculatedbathnbr"** with the most common answer.

In [6]:
# Drop "threequarterbathnbr"
df_train.drop('threequarterbathnbr', axis=1, inplace=True)

# Drop "fullbathcnt"
df_train.drop('fullbathcnt', axis=1, inplace=True)

# Fill in "NaN" "calculatedbathnbr" with most common
bathroommode = df_train['calculatedbathnbr'].value_counts().argmax()
df_train['calculatedbathnbr'] = df_train['calculatedbathnbr'].fillna(bathroommode)

# Drop "fullbathcnt"
df_train.drop('fullbathcnt', axis=1, inplace=True)

# Fill in "NaN" "calculatedbathnbr" with most common
bathroommode = df_train['calculatedbathnbr'].value_counts().argmax()
df_train['calculatedbathnbr'] = df_train['calculatedbathnbr'].fillna(bathroommode)

C:\Users\myang\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.

KeyError: "labels ['fullbathcnt'] not contained in axis"

In [48]:
print(df_train.shape)
df_train.notnull().mean().sort_values(ascending = False)

(90275, 48)

poolsizesum                     1.000000
pooltypeid7                     1.000000
taxdelinquencyflag              1.000000
poolcnt                         1.000000
longitude                       1.000000
latitude                        1.000000
hashottuborspa                  1.000000
garagetotalsqft                 1.000000
garagecarcnt                    1.000000
fireplacecnt                    1.000000
fips                            1.000000
finishedsquarefeet50            1.000000
finishedsquarefeet15            1.000000
calculatedfinishedsquarefeet    1.000000
decktypeid                      1.000000
calculatedbathnbr               1.000000
bedroomcnt                      1.000000
bathroomcnt                     1.000000
basementsqft                    1.000000
transactiondate                 1.000000
logerror                        1.000000
pooltypeid2                     1.000000
parcelid                        1.000000
yardbuildingsqft17              1.000000
propertylandusetypeid           1.000000
assessmentyear                  1.000000
rawcensustractandblock          1.000000
fireplaceflag                   1.000000
regionidcounty                  1.000000
numberofstories                 1.000000
yardbuildingsqft26              1.000000
roomcnt                         1.000000
landtaxvaluedollarcnt           0.999989
taxvaluedollarcnt               0.999989
propertycountylandusecode       0.999989
taxamount                       0.999934
regionidzip                     0.999612
structuretaxvaluedollarcnt      0.995791
censustractandblock             0.993298
yearbuilt                       0.991626
regionidcity                    0.980028
lotsizesquarefeet               0.887566
unitcnt                         0.646392
propertyzoningdesc              0.645948
buildingqualitytypeid           0.635436
heatingorsystemtypeid           0.621213
regionidneighborhood            0.398914
airconditioningtypeid           0.318815
dtype: float64

- **"airconditioningtypeid"** - If "NaN", change to "5" for "None".

In [49]:
df_train.airconditioningtypeid.fillna(5,inplace = True)

- **"regionidneighborhood"** - Neighborhood. Could fill in blanks. Would need a key that maps lat & longitude regions with specific neighborhoods. Because **"longitude"** and **"latitude"** essentially provide this information, we will drop **"regionidneighborhood"**.

In [50]:
# Drop "regionidneighborhood"
df_train.drop('regionidneighborhood', axis=1, inplace=True)

- **"heatingorsystemtypeid"** - Change "NaN" to "13" for "None" *REVIST THIS*

In [51]:
df_train.heatingorsystemtypeid.fillna(13,inplace = True)

- **"buildingqualitytypeid"** - Change "NaN" to most common value.

In [52]:
print(df_train['buildingqualitytypeid'].value_counts())

7.0     29310
4.0     23839
1.0      2627
10.0     1461
12.0      119
8.0         5
6.0         2
11.0        1
Name: buildingqualitytypeid, dtype: int64

In [55]:
# Fill in "NaN" "buildingqualitytypeid" with most common
buildingqual = df_train['buildingqualitytypeid'].value_counts().idxmax()
df_train['buildingqualitytypeid'] = df_train['buildingqualitytypeid'].fillna(buildingqual)

df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,calculatedfinishedsquarefeet,finishedsquarefeet15,finishedsquarefeet50,fips,fireplacecnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,0.0,2.0,3.0,4.0,2.0,0.0,1684.0,1684.0,1684.0,6037.0,0.0,0.0,0.0,0,2.0,34280992.0,-118488536.0,7528.0,0.0,0.0,0.0,0.0,0100,261.0,LARS,60371068.0,12447.0,3101.0,96370.0,0.0,1.0,0.0,0.0,1959.0,1.0,0,122754.0,360170.0,2015.0,237416.0,6735.879883,0,6.037107e+13
1,14366692,-0.1684,2016-01-01,5.0,0.0,3.5,4.0,7.0,3.5,0.0,2263.0,2263.0,2263.0,6059.0,0.0,2.0,468.0,0,13.0,33668120.0,-117677552.0,3643.0,0.0,0.0,0.0,0.0,1,261.0,NaN,60590524.0,32380.0,1286.0,96962.0,0.0,NaN,0.0,0.0,2014.0,1.0,0,346458.0,585529.0,2015.0,239071.0,10153.019531,0,NaN

- **"unitcnt"** - Number of units in a property. Change "NaN" to "1"

In [56]:
df_train.unitcnt.fillna(1,inplace = True)

- **"propertyzoningdesc"** - This seems like a very error-ridden column with so many unique values. It may provide some valuable info, so lets just fill the "NaN" with the most common value.

print(df_train['propertyzoningdesc'].value_counts())

In [59]:
# Fill in "NaN" "propertyzoningdesc" with most common
propertyzoningdesc = df_train['propertyzoningdesc'].value_counts().idxmax()
df_train['propertyzoningdesc'] = df_train['propertyzoningdesc'].fillna(propertyzoningdesc)

- **"lotsizesquarefeet"** - Area of lot in square feet. Fill "NaN" with average value between 25 to 75 tax value Quantile *REVIST THIS*

In [60]:
#lotsize_2575 = df_train.taxvaluedollarcnt.quartile(.25)

df_train['lotsizesquarefeet'].fillna((df_train['lotsizesquarefeet'].mean()), inplace=True)

- **"censustractandblock"** & **"rawcensustractandblock"** - Census tract and block ID combined. Look like duplicate values. I think we should drop these because they are related to location which is covered by "longitude" and "latitude". Let's view the values first.

In [61]:
# Drop "censustractandblock"
df_train.drop('censustractandblock', axis=1, inplace=True)

- **"landtaxvaluedollarcnt"** - Assessed value of land area of parcel.

- **"structuretaxvaluedollarcnt"** - Assessed value of built structure on land.

- **"taxvaluedollarcnt"** - Total tax assessed value of property. "structuretax..." + "landtax...".

- **"taxamount"** - Total property tax assessed for assessment year.

Let's filter our data and view the relationships of these columns. This should allow us to strategically fill in the blanks.

In [62]:
taxdata = df_train[df_train['landtaxvaluedollarcnt'].notnull() & 
                        df_train['structuretaxvaluedollarcnt'].notnull() & 
                        df_train['taxvaluedollarcnt'].notnull() & 
                        df_train['taxamount'].notnull()]
taxdata[['landtaxvaluedollarcnt','structuretaxvaluedollarcnt','taxvaluedollarcnt','taxamount']]

,landtaxvaluedollarcnt,structuretaxvaluedollarcnt,taxvaluedollarcnt,taxamount
0,237416.0,122754.0,360170.0,6735.879883
1,239071.0,346458.0,585529.0,10153.019531
2,57912.0,61994.0,119906.0,11484.480469
3,73362.0,171518.0,244880.0,3048.739990
4,264977.0,169574.0,434551.0,5488.959961
5,1567301.0,880650.0,2447951.0,27126.570312
6,46972.0,64549.0,111521.0,2304.969971
7,199000.0,107000.0,306000.0,3745.500000
8,143230.0,66834.0,210064.0,2172.879883
9,80983.0,109977.0,190960.0,1940.260010
10,50558.0,55396.0,105954.0,1443.689941
11,531087.0,559040.0,1090127.0,13428.940430
12,40568.0,29551.0,70119.0,832.349976
13,202253.0,398747.0,601000.0,6876.700195
14,176252.0,78565.0,254817.0,3192.280029
15,255173.0,89850.0,345023.0,4036.320068
16,312000.0,168000.0,480000.0,6383.740234
17,14083.0,56233.0,70316.0,913.169983
18,178019.0,75119.0,253138.0,3329.139893
19,307294.0,108985.0,416279.0,5194.000000
20,137297.0,122952.0,260249.0,3211.310059
21,149667.0,109293.0,258960.0,3090.719971
22,119086.0,92991.0,212077.0,3020.239990
23,874830.0,319449.0,1194279.0,14747.980469
24,178619.0,157171.0,335790.0,4269.899902
25,85270.0,154186.0,239456.0,3249.370117
26,93400.0,80600.0,174000.0,3895.760010
27,679709.0,145291.0,825000.0,9553.559570
28,115027.0,135218.0,250245.0,3117.189941
29,97593.0,117504.0,215097.0,2648.959961
...,...,...,...,...
90245,124397.0,200424.0,324821.0,6427.029785
90246,149000.0,315000.0,464000.0,6286.129883
90247,33838.0,35465.0,69303.0,964.140015
90248,382366.0,233044.0,615410.0,6379.720215
90249,7522.0,13234.0,20756.0,1295.300049
90250,158024.0,99182.0,257206.0,3148.179932
90251,241439.0,65728.0,307167.0,4038.699951
90252,68547.0,134709.0,203256.0,2761.239990
90253,10040.0,40163.0,50203.0,1263.390015
90254,197210.0,147672.0,344882.0,4493.660156
90255,83147.0,248378.0,331525.0,6461.790039
90256,518942.0,194714.0,713656.0,7380.640137
90257,73934.0,221809.0,295743.0,4330.779785
90258,245220.0,259644.0,504864.0,6286.520020
90259,308645.0,140145.0,448790.0,5459.109863
90260,162500.0,58100.0,220600.0,3596.070068
90261,22414.0,17520.0,39934.0,627.909973
90262,156472.0,140984.0,297456.0,3738.379883
90263,243265.0,117807.0,361072.0,4044.679932
90264,799196.0,532796.0,1331992.0,18297.869141
90265,160136.0,106689.0,266825.0,3075.179932
90266,13027.0,19554.0,32581.0,6137.290039
90267,120020.0,180034.0,300054.0,3172.679932
90268,122915.0,192373.0,315288.0,5853.810059
90269,263300.0,141700.0,405000.0,5311.029785
90270,147200.0,43800.0,191000.0,2495.239990
90271,43218.0,117893.0,161111.0,1886.540039
90272,16088.0,22008.0,38096.0,1925.699951
90273,32878.0,132991.0,165869.0,2285.570068
90274,96779.0,66258.0,163037.0,2560.959961

- **"landtaxvaluedollarcnt"** - We can fill in the "NaN"s with "0". It appears some properties do not have own any land. An example of this could be an apartment in large building where only the structurevalue would exist.

- **"structuretaxvaluedollarcnt"** - Same as **"landtaxvaluedollarcnt"**, but opposite. An example of a "NaN" in this category would be an empty lot.

- **"taxvaluedollarcnt"** - We can just fill in the "NaN" values with the average.

- **"taxamount"** - We should calculate a new category called *'taxpercentage'* where we divide the taxamount by the 'taxvaluedollarcnt', then we can fill in the "NaN" values with the average tax percentage.

In [9]:
df_train.landtaxvaluedollarcnt.fillna(0,inplace = True)

df_train.structuretaxvaluedollarcnt.fillna(0,inplace = True)

df_train['taxvaluedollarcnt'].fillna((df_train['taxvaluedollarcnt'].mean()), inplace=True)

In [10]:
df_train['taxpercentage'] = df_train['taxamount'] / df_train['taxvaluedollarcnt']
df_train.head(2)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,taxpercentage
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,2.0,34280992.0,-118488536.0,7528.0,NaN,NaN,NaN,NaN,NaN,0100,261.0,LARS,60371068.0,12447.0,3101.0,31817.0,96370.0,0.0,NaN,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,6.037107e+13,0.018702
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,2263.0,2263.0,NaN,NaN,NaN,NaN,6059.0,NaN,2.0,468.0,NaN,NaN,33668120.0,-117677552.0,3643.0,NaN,NaN,NaN,NaN,NaN,1,261.0,NaN,60590524.0,32380.0,1286.0,NaN,96962.0,0.0,NaN,NaN,NaN,NaN,NaN,2014.0,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN,0.017340

In [11]:
df_train['taxpercentage'].fillna((df_train['taxpercentage'].mean()), inplace=True)

Now we will drop **"taxamount"** because we have replaced it with **"taxpercentage"**.

In [12]:
# Drop "taxamount"
df_train.drop('taxamount', axis=1, inplace=True)

- **"regionidcity"** - City property is located in. This is redundant information, so we will drop. *REVISIT THIS*

In [ ]:
# Drop "regionidcity"
property_data.drop('regionidcity', axis=1, inplace=True)

- **"yearbuilt"** - Year home was built. We can just fill in the "NaN" values with the most common value.

In [14]:
# Fill in "NaN" "yearbuilt" with most common
yearbuilt = df_train['yearbuilt'].value_counts().idxmax()
df_train['yearbuilt'] = df_train['yearbuilt'].fillna(yearbuilt)

In [ ]:
print(df_train.shape)
print(df_train.dtypes)
df_train.notnull().mean().sort_values(ascending = False)

In [15]:
# Fill in "fips" "NaN"s
fips = df_train['fips'].value_counts().idxmax()
df_train['fips'] = df_train['fips'].fillna(fips)

# Fill in "propertylandusetypeid" "NaN"s
propertylandusetypeid = df_train['propertylandusetypeid'].value_counts().idxmax()
df_train['propertylandusetypeid'] = df_train['propertylandusetypeid'].fillna(propertylandusetypeid)

# Drop 'regionidcounty' - REVIST LATER
# df_train.drop('regionidcounty', axis=1, inplace=True)

# Fill in "latitude" "NaN"s
latitude = df_train['latitude'].value_counts().idxmax()
df_train['latitude'] = df_train['latitude'].fillna(latitude)

# Fill in "longitude" "NaN"s
longitude = df_train['longitude'].value_counts().idxmax()
df_train['longitude'] = df_train['longitude'].fillna(longitude)

# Fill in "rawcensustractandblock" "NaN"s
rawcensustractandblock = df_train['rawcensustractandblock'].value_counts().idxmax()
df_train['rawcensustractandblock'] = df_train['rawcensustractandblock'].fillna(rawcensustractandblock)

# Fill in "assessmentyear" "NaN"s
assessmentyear = df_train['assessmentyear'].value_counts().idxmax()
df_train['assessmentyear'] = df_train['assessmentyear'].fillna(assessmentyear)

# Fill in "bedroomcnt" "NaN"s
bedroomcnt = df_train['bedroomcnt'].value_counts().idxmax()
df_train['bedroomcnt'] = df_train['bedroomcnt'].fillna(bedroomcnt)

# Fill in "bathroomcnt" "NaN"s
bathroomcnt = df_train['bathroomcnt'].value_counts().idxmax()
df_train['bathroomcnt'] = df_train['bathroomcnt'].fillna(bathroomcnt)

# Fill in "roomcnt" "NaN"s
roomcnt = df_train['roomcnt'].value_counts().idxmax()
df_train['roomcnt'] = df_train['roomcnt'].fillna(roomcnt)

# Fill in "propertycountylandusecode" "NaN"s
propertycountylandusecode = df_train['propertycountylandusecode'].value_counts().idxmax()
df_train['propertycountylandusecode'] = df_train['propertycountylandusecode'].fillna(propertycountylandusecode)

# Fill in "regionidzip " "NaN"s
regionidzip = df_train['regionidzip'].value_counts().idxmax()
df_train['regionidzip'] = df_train['regionidzip'].fillna(regionidzip)

In [ ]:
df_train.to_csv("Test_Prop_2016.csv", index=False, encoding='utf8')